    job('dsl_test_ansible') {

        description("Create Ansible Job via DSL")

        parameters {
            stringParam('ANSIBLE_MSG','select * from employees','provide your query')
        }

        steps {

            wrappers {
                    colorizeOutput(colorMap = 'xterm')
                }

            ansiblePlaybook('/var/jenkins_home/ansible_folder/dbquery.yml'){
            
                inventoryPath('/var/jenkins_home/ansible_folder/inventory')
                credentialsId('remote_user')
                extraVars {
                            extraVar('MSG', '$ANSIBLE_MSG', false)
                            }
                colorizedOutput(colorizedOutput = true)
                
            }

        }

        publishers {
            mailer('karthixiomi@gmail.com', true, true)

        }

    } 